*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body {
    font-family: "Poppins", sans-serif;
    background-image: linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%); 
    background-attachment: fixed;
    height: auto;
}
.row {
    height: auto;
    color: #fff;
}
.header-title {
    text-align: center;
}
.location,
.temperature,
.degree,
.title-header,
.icon-weather {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    animation-duration: 0.2s;
    animation-name: fadeIn;
}
.degree {
    font-size: 25px;
    cursor: pointer;
}
.temperature-description {
    font-size: 26px;
}
.temperature-description,
.date-section {
    font-size: 21px;
    color: #fff;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    text-align: center;
}
.input-city {
    background-color: none;
    border: none;
    outline: none;
    background: none;
    font-size: 1.5rem;
    color: #ccc;
    border-bottom: solid 2px #ccc;
}
.button-search {
    background: white;
    border-radius: 20px;
    color: #585e92;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
    border: 1px solid transparent;
}
.img-current-weather {
    animation-name: bounceIn;
    animation-duration: 0.5s;
    position: relative;
}